.tts {
  font-family: "TT Firs Neue Trl", sans-serif;
}
h1,
h2,
h3 {
  font-family: "TT Firs Neue Trl", sans-serif;
}
h1 span,
h2 span,
h3 span {
  font-family: "TT Firs Neue Trl", sans-serif;
}
#surveyform label {
  color: black;
}

.headerbg {
  background: rgb(220, 220, 242);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.58) 59%,
    rgba(1, 118, 251, 0.062) 100%
  );
}
.carousel-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 400px; /* Adjust height as needed */
}

.carousel-slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide {
  flex: 0 0 100%;
  position: relative;
  background-size: cover;
  background-position: center;
}

.bg1 {
  background-image: url("./images/community/comm1.webp");
}
.bg2 {
  background-image: url("./images/community/comm2.webp");
}
.bg3 {
  background-image: url("./images/community/comm3.webp");
}
.zoom {
  animation: scaleInOut 7s alternate;
}

@keyframes scaleInOut {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.crypto-bg {
  background-image: url(../src/images/crypto-bootcamp/hero-bg.jpg);
}
.orbitron {
  font-family: Orbitron, Roboto, Arial, Helvetica, sans-serif;
}

.slide {
  animation: slider 100s linear infinite;
}
@keyframes slider {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.hidescrollbar::-webkit-scrollbar {
  display: none;
}
.cryptoAbout {
  background-image: url(./images/crypto-bootcamp/crypto.jpg);
}

.some {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
}
.some1 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
}
.some2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
}

.carousel-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
}

.carousel-slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide {
  flex: 0 0 100%;
  position: relative;
  background-size: cover;
  background-position: center;
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #00000080;
  color: white;
  border: none;
  cursor: pointer;
  transition: all linear 0.3s;
}
.carousel-control:hover {
  background: #0175fb;
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}

.carousel-indicators {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-indicator {
  /* background: rgba(255, 255, 255, 0.5); */
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  transition: all linear 0.3s;
}

.carousel-indicator.active {
  transform: scale(1.2);
}
.carousel-slide {
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}
.ctabg {
  background-image: url(./images/launchpad/frame.png);
}
.courseunitbg {
  background: rgb(220, 220, 242);
  background: linear-gradient(
    180deg,
    rgba(220, 220, 242, 0) 65%,
    rgba(214, 214, 214, 0.884) 100%
  );
}
.certbg {
  background: url(./images/courses/certs.png);
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: all 5000s ease-in-out 0s;
  -webkit-transition: all 5000s ease-in-out 0s;
  transition-property: background-color, color;
  -webkit-transition-property: background-color, color;
}
.fade-left {
  animation: fade-left 0.5s linear;
}
.fade-in {
  animation: fade-in 0.5s linear;
}
@keyframes fade-left {
  from {
    opacity: 100;
    transform: translateX(0%);
  }
  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
.tech-shadow {
  box-shadow: 0px 0px 50px #0176fba1;
}

.blue-bg{
  background-image: url("images/blue-bg.jpg");
}