@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
}
@font-face {
  font-family: digital;
  src: url(./digital-7/digital-7.ttf);
}
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #000;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track {
  background: #f7f7f7;
  border: 0px none #ffffff;
  border-radius: 41px;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

.nav-bar {
  transition: all 0.1s ease;
}
.nav-change {
  background: rgba(255, 255, 255, 0.47);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  color: black;
}

/* nav > ul > li > a {
  font-family: Roboto, Arial, Helvetica, sans-serif;
} */
.jumbo {
  background-image: url("./images/pxfuel.jpg");
}

/* p,
a {
  font-family: "Rubik" sans-serif, Helvetica, sans-serif;
} */
.testvid {
  border-radius: 10px;
}
.cta-techbg{
  background-image: url(./images/techbg.webp);
}
video {
  height: auto;
}
@supports (object-fit: cover) {
  .fullwidth-video video {
    height: 500px;
  }
}
@supports (object-fit: cover) and (-ms-ime-align: auto) {
  video {
    height: auto;
  }
}
.thumb1 {
  background: url("./images/videos/header/thumbnail/thumb1.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.thumb2 {
  background: url("./images/videos/header/thumbnail/thumb2.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.thumb3 {
  background: url("./images/videos/header/thumbnail/thumb3.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.thumbtext {
  font-family: Orbitron, Roboto, Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}
/* .testvid {
  border-radius: 3% 3% 51% 51% / 2% 2% 38% 39%;
} */
.open-nav {
  animation: openNav linear .2s;
}
@keyframes openNav {
  from {
    height: 0px;
  }
  to {
    height: 250px;
  }
}
.close-nav {
  animation: closeNav linear .2s;
}
@keyframes closeNav {
  from {
    height: 250px;
  }
  to {
    height: 0px;
  }
}

.box {
  box-shadow: 5px 5px 20px rgba(255, 255, 255, 0.163);
}
.scale {
  animation: scale 4s linear infinite;
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.launchpad {
  background-image: url("./images/launchpad/bg1.webp");
  background-position: center;
  background-size: cover;
}
.launchpad-jumbo {
  background-image: url("./images/launchpad/bg2.webp");
  background-position: center;
  background-size: cover;
}
.techy {
  background: linear-gradient(
    to right,
    rgb(63, 131, 248, 1) 20%,
    #fff 30%,
    rgb(63, 131, 248, 1) 70%,
    #fff 80%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% auto;
  animation: beauty 5s ease-in-out infinite alternate;
}

@keyframes beauty {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
.glow {
  text-shadow: 2px 2px 80px white;
}
.shake {
  animation: shake 0.3s linear;
}
@keyframes shake {
  0% {
    transform: translateX(5px);
  }
  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(5px);
  }
}
.card {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(241, 242, 244, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}
.digital {
  font-family: digital, "Public Sans", sans-serif;
}
.countdown-box {
  background: rgba(255, 255, 255, 0.18);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.4px);
  -webkit-backdrop-filter: blur(9.4px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.countdown-box p {
  font-family: digital, sans-serif;
  letter-spacing: 1px;
}
.colon {
  font-family: digital, sans-serif;
}
.eventbtn {
  font-family: Orbitron, sans-serif;
  font-weight: bold;
  transition: all 0.3s ease;
}
.event-head {
  background-image: url(https://th.bing.com/th/id/R.7411f67bf4151bc795c28a8eed5942eb?rik=LF0v8BLT7%2fsH8Q&pid=ImgRaw&r=0);
}
.move {
  animation: move 3s linear infinite;
  box-shadow: 2px 2px 20px black;
}
@keyframes move {
  0% {
    transform: translate(10px, 10px);
  }
  50% {
    transform: translate(-10px, -10px);
  }
  100% {
    transform: translate(10px, 10px);
  }
}
.slide-left {
  animation: left 1s linear;
}
@keyframes left {
  from {
    transform: translate(-100%);
  }
  to {
    transform: translate(0);
  }
}
.eventbtn:hover {
  background-color: white;
  color: rgb(63 131 248);
}
.countup {
  font-family: Orbitron, sans-serif;
}

.eventAbout {
  background-image: url("./images/gallery/gallery4.webp");
}
.aboutWriteUp {
  /* From https://css.glass */
  background: rgba(0, 0, 0, 0.788);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border: 1px solid rgba(255, 255, 255, 0.06);
}
.speakers {
  background-color: #161616ea;
}
.orbitron {
  font-family: Orbitron, sans-serif;
}
.speakerBg {
  background-image: url("./images/gallery/gallery1.webp");
}
.saira {
  font-family: Saira, sans-serif;
}
.hackathon {
  background-image: url(./images/innovate-campus.jpg);
}
.launchcta{
  background-image: url(./images/techbg.webp);
}
.owl-stage{
  display: flex;
  align-items: center;
}